docs/n8n/tip_weekly_report.json
{
        "name": "OrderWorder — Weekly Tip Report",
        "active": true,
        "nodes": [
                {
                        "parameters": {
                                "rule": {
                                        "interval": [
                                                {
                                                        "field": "cronExpression",
                                                        "expression": "0 3 * * 1"
                                                }
                                        ]
                                }
                        },
                        "id": "cron-weekly-mon",
                        "name": "Monday 09:00 IST Cron (03:00 UTC)",
                        "type": "n8n-nodes-base.scheduleTrigger",
                        "typeVersion": 1,
                        "position": [0, 0]
                },
                {
                        "parameters": {
                                "method": "GET",
                                "url": "={{ $env.ORDERWORDER_API }}/api/internal/restaurants/active",
                                "sendHeaders": true,
                                "headerParameters": {
                                        "parameters": [
                                                {
                                                        "name": "X-N8N-Secret",
                                                        "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
                                                }
                                        ]
                                },
                                "options": {}
                        },
                        "id": "list-restaurants",
                        "name": "List Active Restaurants",
                        "type": "n8n-nodes-base.httpRequest",
                        "typeVersion": 4,
                        "position": [220, 0]
                },
                {
                        "parameters": {
                                "fieldToSplitOut": "restaurants",
                                "options": {}
                        },
                        "id": "split-restaurants",
                        "name": "Split By Restaurant",
                        "type": "n8n-nodes-base.splitOut",
                        "typeVersion": 1,
                        "position": [440, 0]
                },
                {
                        "parameters": {
                                "method": "GET",
                                "url": "={{ $env.ORDERWORDER_API }}/api/tips",
                                "sendQuery": true,
                                "queryParameters": {
                                        "parameters": [
                                                {
                                                        "name": "restaurantID",
                                                        "value": "={{ $json.restaurantID }}"
                                                },
                                                {
                                                        "name": "from",
                                                        "value": "={{ $today.minus(7).toISODate() }}"
                                                },
                                                {
                                                        "name": "to",
                                                        "value": "={{ $today.toISODate() }}"
                                                }
                                        ]
                                },
                                "sendHeaders": true,
                                "headerParameters": {
                                        "parameters": [
                                                {
                                                        "name": "X-N8N-Secret",
                                                        "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
                                                }
                                        ]
                                },
                                "options": {}
                        },
                        "id": "fetch-tips",
                        "name": "Fetch Weekly Tips",
                        "type": "n8n-nodes-base.httpRequest",
                        "typeVersion": 4,
                        "position": [660, 0]
                },
                {
                        "parameters": {
                                "fieldToSplitOut": "perWaiter",
                                "options": {}
                        },
                        "id": "split-waiters",
                        "name": "Split By Waiter",
                        "type": "n8n-nodes-base.splitOut",
                        "typeVersion": 1,
                        "position": [880, 0]
                },
                {
                        "parameters": {
                                "conditions": {
                                        "boolean": [
                                                {
                                                        "value1": "={{ $json.totalTips > 0 }}"
                                                }
                                        ]
                                }
                        },
                        "id": "if-has-tips",
                        "name": "Has Tips?",
                        "type": "n8n-nodes-base.if",
                        "typeVersion": 1,
                        "position": [1100, 0]
                },
                {
                        "parameters": {
                                "method": "POST",
                                "url": "https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
                                "authentication": "genericCredentialType",
                                "genericAuthType": "whatsappCloudApi",
                                "sendBody": true,
                                "contentType": "json",
                                "specifyBody": "json",
                                "jsonBody": "={\n  \"messaging_product\":\"whatsapp\",\n  \"to\":\"{{ $('Split By Restaurant').item.json.ownerPhone }}\",\n  \"type\":\"template\",\n  \"template\":{\n    \"name\":\"tip_weekly_summary\",\n    \"language\":{\"code\":\"en\"},\n    \"components\":[{\"type\":\"body\",\"parameters\":[\n      {\"type\":\"text\",\"text\":\"{{ $json.waiterName }}\"},\n      {\"type\":\"text\",\"text\":\"₹{{ $json.totalTips }}\"}\n    ]}]\n  }\n}",
                                "options": {}
                        },
                        "id": "send-wa",
                        "name": "Send WhatsApp Tip Summary",
                        "type": "n8n-nodes-base.httpRequest",
                        "typeVersion": 4,
                        "position": [1320, -100]
                },
                {
                        "parameters": {},
                        "id": "no-op",
                        "name": "No Tips (Skip)",
                        "type": "n8n-nodes-base.noOp",
                        "typeVersion": 1,
                        "position": [1320, 100]
                }
        ],
        "connections": {
                "Monday 09:00 IST Cron (03:00 UTC)": {
                        "main": [
                                [
                                        {
                                                "node": "List Active Restaurants",
                                                "type": "main",
                                                "index": 0
                                        }
                                ]
                        ]
                },
                "List Active Restaurants": {
                        "main": [
                                [
                                        {
                                                "node": "Split By Restaurant",
                                                "type": "main",
                                                "index": 0
                                        }
                                ]
                        ]
                },
                "Split By Restaurant": {
                        "main": [
                                [
                                        {
                                                "node": "Fetch Weekly Tips",
                                                "type": "main",
                                                "index": 0
                                        }
                                ]
                        ]
                },
                "Fetch Weekly Tips": {
                        "main": [
                                [
                                        {
                                                "node": "Split By Waiter",
                                                "type": "main",
                                                "index": 0
                                        }
                                ]
                        ]
                },
                "Split By Waiter": {
                        "main": [
                                [
                                        {
                                                "node": "Has Tips?",
                                                "type": "main",
                                                "index": 0
                                        }
                                ]
                        ]
                },
                "Has Tips?": {
                        "main": [
                                [
                                        {
                                                "node": "Send WhatsApp Tip Summary",
                                                "type": "main",
                                                "index": 0
                                        }
                                ],
                                [
                                        {
                                                "node": "No Tips (Skip)",
                                                "type": "main",
                                                "index": 0
                                        }
                                ]
                        ]
                }
        },
        "settings": {
                "executionOrder": "v1"
        }
}
